.lame-3-text {
  position: absolute;
  color: white;
  font-family: "Gotham Bold Regular";
  text-align: center;
  width: 33%;
  margin-left: 33%;
  margin-top: 180px;
}

.lame-3-content-head {
  width: 70%;
  margin-left: 5%;
  margin-top: 30px;
}

.lame-3-content-head-title {
  color: #f86e0a;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-head-text {
  color: black;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-first-left {
  width: 100%;
  height: 270px;
  background-color: #ff5e00;
}

.lame-3-content-first-right {
  width: 100%;
  height: 270px;
  background-color: #ff7e32;
}

.lame-3-content-first-left-title {
  text-align: center;
  color: white;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-first-left-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.lame-3-content-first-right-text {
  color: white;
  width: 80%;
  margin-left: 10%;
  font-family: "Gotham Light Regular";
  margin-top: 100px;
}

//

.lame-3-content-second-left {
  width: 100%;
  height: 270px;
}

.lame-3-content-second-right {
  width: 100%;
  height: 270px;
}

.lame-3-content-second-left-title {
  text-align: center;
  color: #ff5e00;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-second-left-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.lame-3-content-second-right-text {
  color: black;
  width: 80%;
  margin-left: 10%;
  font-family: "Gotham Light Regular";
  margin-top: 100px;
}

//

.lame-3-content-third-left {
  width: 100%;
  height: 270px;
  background-color: #ff5e00;
}

.lame-3-content-third-right {
  width: 100%;
  height: 270px;
  background-color: #ff7e32;
}

.lame-3-content-third-left-title {
  text-align: center;
  color: white;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-third-left-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.lame-3-content-third-right-text {
  color: white;
  width: 80%;
  margin-left: 10%;
  font-family: "Gotham Light Regular";
  margin-top: 100px;
}

//

.lame-3-content-fourth-left {
  width: 100%;
  height: 270px;
}

.lame-3-content-fourth-right {
  width: 100%;
  height: 270px;
}

.lame-3-content-fourth-left-title {
  text-align: center;
  color: #ff5e00;
  font-family: "Gotham Bold Regular";
}

.lame-3-content-fourth-left-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.lame-3-content-fourth-right-text {
  color: black;
  width: 80%;
  margin-left: 10%;
  font-family: "Gotham Light Regular";
  margin-top: 100px;
}

.lame-3-content-button {
  background-color: #ff5e00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}